@import'@/styles/index';

.bestselling {
    background-color: $light_sand;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-top: 3rem;
        font-size: 50px;
        letter-spacing: 12px;
        word-spacing: 5px;
        font-weight: 500;
        text-align: center;
    }

    &-container {
        width: 85%;
        margin: auto;
    }

    &-card {
        margin-top: 20px;
    }

    &-img-container {
        border-radius: 10px;
        background: $brown;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 230px;
    }

    &-img {
        height: 80%;
        width: 50%;
        border-radius: 10px;
        transition: 0.2s;
    }

    &-img:hover {
        box-shadow: 0 0 20px rgba(244, 135, 106, 0.7);
        transform: scale(1.1);
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 4px;
        padding: 4px;
    }

    &-title {
        font-size: 22px;
        font-weight: 500;
    }

    &-btn {
        background: $sand;
        color: $fade_white;
        font-size: 14px;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        border-color: $brown;
        position: absolute;
        bottom: 5%;
    }

    &-btn:hover {
        background-color: $light_brown;
        cursor: pointer;
    }

    &-descrip {
        margin-top: 15px;
        font-size: 13px;
    }
}

.card-container {
    background: $fade_white;
    height: 450px;
    color: black;
    border-radius: 15px;
}

.slick-slide > div {
    margin: 0 5px;
}


/* -------------- MEDIA QUERIES (MEDIUM DEVICES) -------------- */
$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
    .bestselling {
        gap: 2px;

        h2 {
            font-size: 4rem;
            margin-top: 20rem;
        }

        &-container {
            margin-bottom: 25rem;
        }
    }

    .card-container {
        background: $fade_white;
        height: 480px;
        color: black;
        border-radius: 15px;
    }
  }
  
/* -------------- MEDIA QUERIES (SMALL DEVICES) -------------- */
$breakpoint-phone: 600px;
@media (max-width: $breakpoint-phone){
    .bestselling {
        gap: 2rem;

        h2 {
            font-size: 30px;
            letter-spacing: 7px;
            word-spacing: 2px;
        }

        &-card {
            margin-top: 20px;
        }

        &-img-container {
            background: $light_brown;
            height: 200px;
        }

        &-img {
            height: 75%;
            width: 80%;
        }

        &-content {
            display: none;
        }
    }
    
    .card-container {
        height: 200px;
    }
    
    .slick-slide > div {
        margin: 0 2px;
    }
}
